terraform {
  required_providers {
    oneshot = {
      source = "winebarrel/oneshot"
    }
  }
}

provider "oneshot" {
}

resource "oneshot_run" "hello" {
  command      = "echo 'hello, oneshot'"
  plan_command = "echo \"hello, oneshot (plan=$ONESHOT_PLAN)\" ; echo planerr 1>&2"
}
